
.badGraph {
	text-align: center;
	width: 100%;
}

.retryButton {
	color: white;
	
}

.vizNotReady {
	color: grey !important;
}

.widgetBoxContent {
	margin-top: 0.25em;
	text-align: center;
}

.rootListComponent {
	border-top: 1px #35332f solid;
}

.rootListHeader {
	text-align: center;
	margin-top: 2em;
	background-color: #232122;	
	border-top: 1px #35332f solid;
	border-bottom: 1px #35332f solid;
}

.rlistItem {
	display: flex;
	text-align: center;
	width: 100%;
	padding: 0.1em;
	padding-right: 0;
	margin-right: 1em;
	border-bottom: 1px #35332f solid;
}

.rListItemText {
	padding-right: 1em;	
	margin-right: 1em;
	display: flex;
	flex: 1;
	justify-content: flex-end;
	border-right: 1px #35332f solid;
}

.rlistItemSelected {
	background-color: #303040;
	border-right: 1px #25231f solid !important;
}



.widgetGraphBox {

	margin-top: 0.25em;
	text-align: center;
}

.widgetNodeBox {
	min-width: 160px;
	background-color: #25231f;
	display: flex;
	flex: 1;
	border-right: 1px #35332f solid;
	border-left: 1px #35332f solid;
	flex-direction: column;

}

.widgetViewContainer {
	min-width: 160px;
	background-color: #25231f;
	display: flex;
	flex: 1;
	border-right: 1px #35332f solid;
	border-left: 1px #35332f solid;
	flex-direction: column;
}

.widgetContainerHeader {
	text-align: center;
	background-color: #232122;	
	border-bottom: 1px #35332f solid; 
}

.widgetSVGLineStack {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -5;
}

.widgetSpace {
	position: relative;
	width: 100%;
	Height: 100%;
	display: flex;
	margin-top: 10px;
}



.widgetObjectBody {
	
	min-height: 50px;
}

.widgetObjectHeader {
	border-bottom: 1px #35332f solid;
	max-height: 100%;
	min-width: 100%;
}

.dataSegment {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1em;
	border-top: 1px #35332f solid;
	border-bottom: 1px #35332f solid;
}

.vizButton {
	margin-top: 1em;
	width: 100%;
	border-radius: 0;
	border-top: 1px #35332f solid;
	border-bottom: 1px #35332f solid;
	color: white;
}

.cuStatus {
	border-top: 1px #35332f solid;
	overflow-x:hidden;
}

.widgetObject {
	position: absolute;
	max-width: 80px;
	min-width: 80px;
	min-height: 60px;
	
	background-color: #25231f;
	border: 1px #45442f solid;
}

.widgetObject:hover {
	
	background-color: #35332f;
	border: 1px #85442f solid;
}

.widgetObject:hover .widgetObjectHeader {

	border-color: #85442f;
}
