
.gridItem {
	display: inline-grid;
	border: 1px #35332f solid;
	aspect-ratio: 1;
	justify-content: center;
	align-items: center;
	color: black;
}

.gridItem span {
	width: 100% !important;
	height: 100% !important;
}

.gridItemSelected {
	box-sizing: border-box;
	background-color: #96f0b444;
	border: 1px solid #94faa9 !important;
	z-index: 5;
}

.Untagged {
	border: 1px #35332f solid !important;
}


.Register {	
	background-color: #e0e000;	
}

.Bus {
	background-color: #40c040;	
}

.BellState {	
	background-color: #ff00ff;	
}

.TFactory {	
	background-color: #58b0f5;	
}

.Buffer {	
	background-color: #e04040;	
}

.DetagSelected {	
	border: 1px #ffffff solid !important
}

.RegisterSelected {	
	border: 1px #e0e000 solid !important
}

.BusSelected {
	border: 1px #40c040 solid !important
}

.BellStateSelected {	
	border: 1px #ff00ff solid !important
}

.TFactorySelected {	
	border: 1px #3820ff solid !important
}

.BufferSelected {	
	border: 1px #e04040 solid !important
}


