
.regionSettings {
	display: flex;
	flex: 1;
	flex-direction: column;
	border-top: 1px #35332f solid; 
}


.regionSettingsHeader {
	text-align: center;
	background-color: #232122;	
	border-bottom: 1px #35332f solid; 
}
