
.regionList {
	display: flex;
	flex: 1;
	flex-direction: column;
	max-height: 400px;
	padding-left: 0;
}

.regionList ul {
	overflow: scroll;
	margin: 0;
}

.regionListing {
	padding: 0;
	margin-left: 0.5em;
	overflow: scroll;
}

.regionListHeader {
	text-align: center;
	background-color: #232122;	
	border-bottom: 1px #35332f solid; 
}

.regionSelected {
	background-color: #303040;
}

.regionItem {
	display: block;

	padding-left: 0.5em;
	list-style: none;
}
