
.regionSettings {
	display: flex;
	flex: 1;
	flex-direction: column;
	border-top: 1px #35332f solid; 
}


.regionSettingsHeader {
	text-align: center;
	background-color: #232122;	
	border-bottom: 1px #35332f solid; 
}

.subTypeComp {
	text-align: left;
	background-color: #232122;
	padding-left: 0.25em;
	padding-bottom: 0.25em;
	padding-right: 0.25em;
	border-bottom: 1px #35332f solid; 
}
.connectionsComp {
	text-align: left;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	background-color: #232122;
	padding-left: 0.25em;
	padding-right: 0.25em;

	border-bottom: 1px #35332f solid; 
}

.connectionsComp select {
	border: 2px #35332f solid;
	border-radius: 5px;
	width: 100%;
	color: rgba(255, 255, 255, 0.87);
	background-color: #232122;
}

.subTypeComp select {
	border: 2px #35332f solid;
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.87);
	background-color: #232122;
	width: 100%;
}
