
.regionSettings {
	display: flex;
	flex: 1;
	flex-direction: column;
	border-top: 1px #35332f solid; 
}


.regionSettingsHeader {
	text-align: center;
	background-color: #232122;	
	border-bottom: 1px #35332f solid; 
}

.subTypeComp {
	padding-top: 1em;
	text-align: left;
	margin-left: 1em;
}
.connectionsComp {
	text-align: left;
	padding-top: 0.5em;
	margin-left: 1em;

}
