
.toolboxOptions {
	flex: 1;
	border-top: 1px #35332f solid; 
}

.toolboxOptionsHeader {
	text-align: center;
	background-color: #232122;	
	border-bottom: 1px #35332f solid; 
}

.toolSegment {

	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #232122;
	border: 1px #35332f solid;
	text-align: center;
}
